[submodule "lib/core"]
	path = lib/core
	url = https://github.com/rguilbeau/A320_Core.git
[submodule "lib/frames"]
	path = lib/frames
	url = https://github.com/rguilbeau/A320_Frames.git
[submodule "lib/displayer"]
	path = lib/displayer
	url = https://github.com/rguilbeau/A320_Displayer.git
